node_modules
*.bak
temp.txt
package-lock.json
samples/**
src/antlr/**
!src/antlr/grammar/Rps.g4

src/utils/**.js
src/utils/**.d.ts
src/commands/**.js
src/commands/**.d.ts
src/engines/**.js
src/engines/**.d.ts
src/keywords/**.js
src/keywords/**.d.ts
src/core/**.js
src/core/**.d.ts
